---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Papers | Young India Publications">
  <div class="container">
    <div
      class="mt-16 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:gap-20 gap-10 place-items-center"
    >
      <!-- {
        papers.map((paper, index) => (
          <ShowcasePaper
            imgSrc={paper.data.cover}
            paperTitle={paper.data.title}
            paperDesc={paper.data.abstract}
            slug={paper.slug}
            key={index}
          />
        ))
      } -->
    </div>
  </div>
</Layout>
