---
import { getCollection } from "astro:content";
import ShowcaseBook from "./ShowcaseBook.astro";

const books = await getCollection("books");
---

<section class="py-12">
  <div class="container">
    <h2 class="text-center text-4xl font-bold">
      Featured Books & Research Papers
    </h2>
    <p class="text-center text-xl mt-5 max-w-4xl mx-auto">
      Discover the finest publications from Young India Publication, where young
      minds bring bold ideas to life. From thought-provoking books to
      groundbreaking research papers, explore our top picks that inspire,
      inform, and innovate.
    </p>

    <div
      class="mt-16 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:gap-20 gap-10 place-items-center lg:mx-48"
    >
      {
        books.map((book, index) => (
          <ShowcaseBook
            imgSrc={book.data.cover}
            bookTitle={book.data.title}
            bookDesc={book.data.abstract}
            slug={book.slug}
            key={index}
          />
        ))
      }
    </div>
    <div class="flex justify-center">
      <a
        href="/books"
        class="bg-[#7ED4AD] mt-16 inline-block p-4 font-bold rounded-2xl text-neutral-900 text-xl"
        >Check All books</a
      >
    </div>
  </div>
</section>

<style is:global>
  .book-wrapper {
    width: 900px;
    position: relative;
    margin: 0 auto;
    padding: 4px;
  }
  .book-items {
    position: relative;
    cursor: default;
    margin: 0;
    display: grid;
    break-inside: avoid;
  }

  .main-book-wrap {
    position: relative;
  }
</style>
